*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    width: 100vw;
    overflow-x: hidden;
}

:root{
    --primary: #167a4e;
    --secondary: #def4f6;
}

.active-nav{
    color: black;
    background-color: var(--secondary);
    border-radius: 10px;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

header a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.4rem;
    color: white;
    padding: 6px 10px;

}

.cover1{
    width: 100vw;
    height: 100vh;
    color: white;
    padding: 1rem 2rem;
    background-color: var(--primary);
    border-bottom-right-radius: 20rem;

}

.cover1 section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cover2{
    height: 100vh;
    padding: 3rem;
    display: flex;


}

.cover2 img{
    width: 30rem;
}

.cover2 .contain{
    width: 30rem;
}

